name: Terraform ec2 creation
on: workflow_dispatch
jobs:
    create-runner:
        runs-on: ubuntu-latest
        steps:
          - name: check out the repo code
            uses: actions/checkout@v6

          - name: list files
            run: ls -l
         
          - name: terraform install in ubuntu-latest
            uses: hashicorp/setup-terraform@v3
         
          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v6.0.0
            with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-east-1
        
          - name: Terraform init
            run: terraform init





